<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.IAddressTypeDAO">
    <resultMap type="AddressType" id="AddressTypeResultMap" autoMapping="false">
        <result property="addressTypeId" column="address_type_id"/>
        <result property="addressType" column="address_type_name"/>
    </resultMap>
    <insert id="saveEntity" keyProperty="address_type_id">
        INSERT INTO address_types (address_type_name)
        VALUES (#{address_type_name});
    </insert>
    <update id="updateEntity" parameterType = "AddressType">
        UPDATE address_types SET
                             address_type_name = #{addressType},
        WHERE address_id = #{addressId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from address_types WHERE address_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "AddressTypeResultMap">
        SELECT * FROM address_types WHERE address_type_id = #{id};
    </select>
    <select id = "getAll" resultMap = "AddressTypeResultMap">
        SELECT * FROM address_types;
    </select>
    <select id = "getAddressTypeByName" parameterType="String" resultMap = "AddressTypeResultMap">
        SELECT * FROM address_types WHERE address_type_name = #{addressType};
    </select>
</mapper>