<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sql.ICompanyDAO">
    <resultMap type="Company" id="CompanyResultMap" autoMapping="false">
        <result property="companyId" column="company_id"/>
        <result property="companyName" column="company_name"/>
        <result property="companyType" column="company_type_id"/>
    </resultMap>
    <insert id="createEntity" keyProperty="company_id">
        INSERT INTO companies (company_name, company_type_id)
        VALUES (#{companyName}, #{companyType});
    </insert>
    <update id="updateEntity" parameterType = "Company">
        UPDATE companies SET
                          company_name = #{companyName},
                          company_type_id = #{companyType}
        WHERE company_id = #{companyId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from companies WHERE company_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "CompanyResultMap">
        SELECT * FROM companies WHERE company_id = #{id};
    </select>
    <select id = "getAll" resultMap = "CompanyResultMap">
        SELECT * FROM companies;
    </select>
    <select id = "getCompanyByName" parameterType="String" resultMap = "CompanyResultMap">
        SELECT * FROM companies WHERE company_name = #{companyName};
    </select>
</mapper>