<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.sql.IJobTitleDAO">
    <resultMap type="JobTitlte" id="JobTitleResultMap" autoMapping="false">
        <result property="jobTitleID" column="job_title_id"/>
        <result property="jobTitle" column="job_title"/>
    </resultMap>
    <insert id="createEntity" keyProperty="job_title_id">
        INSERT INTO job_title (job_title)
        VALUES (#{job_tilte});
    </insert>
    <update id="updateEntity" parameterType = "Jobtitle">
        UPDATE job_title SET
                             job_title = #{jobTitle}
            =        WHERE job_title_id = #{jobTitleId};
    </update>
    <delete id = "removeEntity" parameterType = "int">
        DELETE from job_title WHERE job_title_id = #{id};
    </delete>
    <select id = "getEntityById" parameterType = "int" resultMap = "JobTitleResultMap">
        SELECT * FROM job_title WHERE job_title_id = #{id};
    </select>
    <select id = "getAll" resultMap = "JobTitleResultMap">
        SELECT * FROM job_title;
    </select>
    <select id = "getJobTitleByName" parameterType="String" resultMap = "JobTitleResultMap">
        SELECT * FROM job_title WHERE job_title = #{jobTitle};
    </select>
</mapper>